body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header, main {
    padding: 20px;
}

h1 {
    text-align: center;
}

.player-list, .team-list {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.player-list h2, .team-list h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#team1, #team2 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1E88E5;
}

.player-button,
.participant-name {
    font-size: 16px;
}

.player-button {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.player-button.selected {
    background-color: #1E88E5;
}


#formTeams, #generateAgain {
    background-color: #FF0000; /* Felrode achtergrond */
    color: white; /* Witte tekst */
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold; /* Maak de tekst bold */
    border: none;
    transition: background-color 0.3s;
    margin-top: 20px; /* Voeg witruimte toe aan de bovenkant */

}

#formTeams:hover, #generateAgain:hover {
    background-color: #FF3333; /* Lichtere rode kleur bij hover */
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
