body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main {
    padding: 20px;
}

h1 {
    text-align: center;
}

.player-list, .team-list {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.player-list h2, .team-list h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#team1, #team2 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}
